* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
.header {
  width: 100%;
  text-align: center;
  color: #000000;
}
.haeder__bg-container {
  background-image: url(../images/backgrounds/model-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
  /* position: relative; */
}
.header__container {
  background-color: #ffffff;
  color: #ffff;
  width: 100%;
  padding: 5px 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
  z-index: 2;
  top: 0;
}
.header__nav-bar {
  display: flex;
  width: 100%;
  text-transform: capitalize;
}
.header__language-side {
  display: flex;
  align-items: center;
}
.header__language-side select {
  padding: 5px 8px;
  border: none;
  background-color: rgb(0, 0, 0, 0.1);
  color: #32353c;
  text-transform: capitalize;
  border-radius: 5px;
}
.search-bar {
  display: none;
}
.header__nav-bar a {
  color: #ffff;
  text-decoration: none;
  display: none;
}
.logo_container {
  margin: 0 auto;
  width: 100px;
  cursor: pointer;
}
#logo_container_img {
  width: 100%;
}
.header__cart-side {
  display: flex;
  cursor: pointer;
  color: #000000;
  align-items: center;
}
.header__cart-side__total-price {
  display: none;
}
.header__cart-side__img-cart {
  width: 40px;
  margin-left: 10px;
  position: relative;
}
.header__cart-side img {
  width: 100%;
}
.header__cart-side__total {
  position: absolute;
  padding: 2px 5px;
  top: 0;
  right: -4px;
  background-color: #b79b6c;
  color: #ffff;
  border-radius: 50%;
  font-size: 0.8rem;
}
.main {
  padding: 20px 0;
  width: 100%;
  background-color: #000000;
  color: #ffff;
  overflow-x: hidden;
}
.main__shipping-details {
  display: flex;
  width: 100%;
  margin: 0 5px;
  justify-content: center;
  /* font-size: 0.4rem; */
  font-size: 0.6rem;
}
.main__shipping-details p {
  margin: 0 5px;
}
.main__shipping-details a {
  color: #ffff;
  text-decoration: none;
}
#shipping-details__ios-airplane {
  width: 20px;
  margin-right: 3px;
}

.the-sections {
  padding: 20px 0;
  text-align: center;
  letter-spacing: 0.008em;
}
.the-sections section {
  margin-top: 50px;
  margin-bottom: 50px;
}
.sub-heading,
.main-heading {
  padding: 5px 0;
  font-weight: 400;
}
.main-heading__price {
  color: #b79b6c;
}
.shopping-btn {
  margin: 15px;
  padding: 8px;
  width: 100px;
  background-color: #32353c;
  color: #ffff;
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
  cursor: pointer;
}

.collection__products {
  margin: 10px 10%;
  position: relative;
  
}
.collection__products_container__product_img {
  background-color: #b7b7b7;
  background-image: linear-gradient(to bottom right, #b7b7b7, #f9f9f9);
  margin-bottom: 10px;
}
#collection__products_container-green__product_img {
  background-color: #008432;
  background-image: linear-gradient(to bottom right, #008432, #002e05);
}
.collection__products_container img {
  width: 20vw;
}
.collection__products__descr__details {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 100;
}
.collection__products__descr__details p {
  margin: 5px 0;
}
.product_price {
  /* margin: 5px 0; */
  color: #343434;
}
/* .collection__product_price {
  position: absolute;
  bottom: 0;
} */
.collection__products_container {
  display: none;
}
.dots__container{
  text-align: center;
}
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.prev,.next,.text {
  font-size: 11px;
}
.prev,.next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: -40px;
}
.prev{
  left: -40px;
}


.new-arrival__products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 10px 30px;
  grid-template-rows: auto 1fr;
}
.new-arrival__desc {
  margin: 0 40px;
}

.new-arrival__product-container {
  text-align: left;
  font-size: 1rem;
  font-weight: 100;
}
.new-arrival__product-container__detail {
  margin-top: 15px;
}
#new-arrival__main-img__model21 {
  height: 100%;
}
.new-arrival__container img {
  width: 100%;
}
.new-arrival__product_price {
  display: flex;
}
.new-arrival__product_price p {
  margin-right: 10px;
}
#product_price__old {
  text-decoration-line: line-through;
}
.horror__container {
  position: relative;
  margin-top: 150px;
}
.horror__container__bg {
  background-image: url(../images/backgrounds/horror-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  /* height: 20vh; */
  height: calc(50vh - 100px);
}
/* .horror__desc {
  margin: 10px;
} */
.insta-posts__container {
  margin: 10px 0;
  min-height: 150px;
}
.insta-posts__path {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 0.8rem;
}
.insta-posts__path a {
  text-decoration: none;
  color: #ffff;
}
.insta-posts__path img {
  width: 15px;
  margin: 0 5px;
}
.insta-posts__slider {
  margin-top: 40px;
}
.the-sections__fashion {
  border-top: 1px solid #707070;
  margin: 10px 30px;
}
.brand__social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 50px;
}
.brand__logo {
  text-align: left;
  margin: 5px 0;
}
.brand__social-media img {
  width: 15px;
  vertical-align: middle;
}
.brand__social-media a {
  text-decoration: none;
  text-transform: capitalize;
  color: #707070;
  font-size: 1rem;
}
.fashion__articles__container {
  margin-top: 30px;
}
.fashion__article {
  margin: 20px 0;
  position: relative;
}
.fashion__article__bg {
  position: relative;
  width: auto;
  margin-bottom: 10px;
}
.fashion__article__bg img {
  width: 100%;
}
.fashion__article__bg-4 {
  text-align: right;
  display: flex;
}
.fashion__article__bg-4 img {
  width: 45%;
}
.fashion__article__simple-bg {
  background-color: #b79b6c;
  width: 100%;
}
.fashion__article__desc {
  width: 80%;
  text-align: left;
  font-size: 0.8rem;
}

.fashion__sub-heading,
.fashion__main-heading {
  padding: 5px 0;
  font-weight: 400;
}
.read-more_btn {
  margin: 15px 0;
  padding: 8px;
  width: 100px;
  background-color: #32353c;
  color: #ffff;
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
  cursor: pointer;
}
.properties__container {
  background-color: #ffff;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  color: #000000;
  position: relative;

  /* the horizontal line */
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
  }
  /* the vertical line */
  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #000000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.properties__detail {
  line-height: 1;
}
.properties__icon-container {
  margin-bottom: 15px;
}
.properties__icon-container img {
  width: 40px;
}
.properties__detail h4 {
  margin: 5px 0;
  font-weight: 100;
}
.properties__detail p {
  font-size: 0.9rem;
}

.footer {
  /* position: absolute;
  bottom: 0; */
  background-color: #32353c;
  color: #ffff;
  text-align: center;
  line-height: 1.6;
}
.footer__details_container {
  padding: 30px 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  text-align: left;
}
.footer__detail {
  margin: 10px 0;
}
.footer__detail h3 {
  margin-bottom: 20px;
}
.footer__detail p {
  color: #6f6f6f;
}
.payments_datail {
  margin-top: 20px;
}
.payments_datail p {
  margin: 15px 0;
}

.subscribe_form {
  margin-bottom: 15px;
  display: flex;
}
#subscribe_input {
  height: 30px;
  width: 170px;
  padding: 0 10px;
}
#subscribe_btn {
  background-color: #32353c;
  color: #ffff;
  border: none;
  height: 30px;
  padding: 0 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.168);
}
.website_signature {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #707070;
  color: #ffff;
  opacity: 70.98%;
}
.website__copyright {
  text-align: left;
}
.website__rights {
  text-align: right;
}
/* media screen for 600px */
@media screen and (min-width: 600px) {
  .fashion__articles__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  .footer__details_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* media screen for 700px */
@media screen and (min-width: 700px) {
  .haeder__bg-container {
    position: relative;
    height: 50vh;
  }
  .header__container {
    background-color: rgb(255, 255, 255, 0.7);
    position: absolute;
  }
  .header__nav-bar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 100;
  }
  .header__nav-bar a {
    color: #32353c;
    display: block;
    margin: 0 5px;
  }
  .header__nav-bar a:hover {
    color: #b79b6c;
  }
  .header__nav-bar a:active {
    color: #b79b6c;
  }
  .logo_container {
    margin: 0 10px;
    width: 120px;
  }
  .header__cart-side__total-price {
    display: block;
  }
  .header__cart-side__img-cart {
    width: 50px;
  }
  .main__shipping-details {
    font-size: 0.75rem;
  }
  .collection__products__descr__details {
    font-size: 1rem;
  }
  .collection__products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 12px;
      margin: 10px 10%;
  }
  .collection__products_container{
    display: block;
  }
  .dots__container, .prev,.next, .active,.fade{
    display: none;
  }
  .new-arrival__container {
    display: flex;
    padding: 0 8%;
    flex-direction: row-reverse;
  }
  .new-arrival__desc {
    margin: 0 30px;
    align-self: center;
    text-align: left;
    font-size: 1rem;
  }
  .new-arrival__products {
    margin: auto 20px;
  }
  .new-arrival__product-container__detail {
    font-size: 1rem;
  }
  .horror__container__bg {
    height: calc(60vh - 100px);
  }
  .brand__social-media {
    margin: 30px 50px;
    display: flex;
    justify-content: center;
  }
  .brand__logo {
    margin: 5px;
  }
  .brand__social-media img {
    width: 10px;
  }
  .brand__social-media a {
    font-size: 0.7rem;
  }
  .properties__container {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    grid-gap: 0;
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }
  .properties__detail {
    padding: 30px 20px;
    align-items: center;
    border-right: 1px solid #000000;
    min-height: 180px;
  }
  .properties__detail:last-child {
    border: none;
  }
}
/* media screen for 1000px */
@media screen and (min-width: 1000px) {
  .header__container {
    height: 80px;
    overflow: hidden;
  }
  .header__language-side select {
    width: 100px;
    height: 40px;
    font-size: 0.9rem;
  }
  .search-bar {
    margin: 0 10px;
    display: block;
  }
  .search-field {
    background-color: transparent;
    background-image: url(../images/icon/ios-search.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    margin: 3px 0;
    padding: 0 0 0 34px;
    font-size: 0.9rem;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition: width 400ms ease, background 400ms ease;
    width: 0px;
    cursor: pointer;
  }
  .search-field:focus {
    background-color: #ffff;
    border: 2px solid rgb(0, 0, 0, 0.1);
    cursor: text;
    outline: 0;
    width: 250px;
    color: #000000;
  }
  .search-submit {
    display: none;
  }
  .header__nav-bar {
    font-size: 1.1rem;
  }
  .header__nav-bar a {
    margin: 20px;
  }
  .logo_container {
    width: 140px;
  }
  .haeder__bg-container {
    height: 70vh;
  }
  .main__shipping-details {
    font-size: 1rem;
  }
  #shipping-details__ios-airplane {
    width: 25px;
  }
  .collection__container {
    display: flex;
    padding: 0 8%;
    text-align: left;
  }
  .collection__desc {
    padding: 15px 10px 15px 0;
    margin-right: 50px;
    font-size: 1.1rem;
  }
  .main-heading {
    font-size: 2rem;
  }
  .sub-heading {
    font-size: 1.2rem;
  }
  .shopping-btn {
    margin-left: 0;
    width: 120px;
  }
  .collection__products {
    margin: 10px 5px;
  }
  .collection__products__descr__details {
    font-size: 1.1rem;
  }
  .new-arrival__product-container__detail {
    font-size: 1.2rem;
  }
  .horror__container__bg {
    height: calc(100vh - 100px);
  }
  .horror__desc .sub-heading {
    font-size: 1.5rem;
  }
  .horror__desc .main-heading {
    font-size: 2.4rem;
  }
  .horror__desc .shopping-btn {
    width: 200px;
    font-size: 1.2rem;
  }
  .brand__social-media img {
    width: 15px;
  }
  .brand__social-media a {
    font-size: 1rem;
  }
  .fashion__article{
    overflow-y: hidden;
  }
  .fashion__article__bg::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #707070;
    opacity: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .fashion__article__bg:hover::after {
    display: none;
  }
  .fashion__article__desc {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 60%;
    font-size: 1rem;
  }
  .fashion__article__bg-4__desc {
    width: 40%;
  }
  .footer__details_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
